NEXT_PUBLIC_SUPABASE_URL=https://bfnynfufkrybpffjtunm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmbnluZnVma3J5YnBmZmp0dW5tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzOTQ0MjIsImV4cCI6MjA5NTk3MDQyMn0.qHlnI4yO2WeymzUroaCqWw5tlBsmw2Q7wLaVa2bLh-U
PORT=3001
